@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #2e2ee2;
    padding: 16px;
    color: white;
}

.trash-button {
    width: 50px;
    height: 50px;

    background: url('../assets/trash-outline.svg');
    background-size: contain;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash-fill.svg');
}

.undo-button {
    width: 50px;
    height: 50px;

    background: url('../assets/undo-ouline.svg');
    border: none;
}

.check-button {
    width: 50px;
    height: 50px;

    background: url('../assets/check-outline.svg');
    border: none;
}

.check-button:hover {
    background: url('../assets/check-solid.svg');
}

.edit-button {
    width: 50px;
    height: 50px;

    background: url('../assets/edit-outline.svg');
    border: none;
    background-repeat: no-repeat;
}

.edit-button:hover {
    background: url('../assets/edit-fill.svg');
}

#editBook {
    display: none;
}

.shadow {
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.input-container {
    display: flex;
    flex-direction: row;
}
.bookshelf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookshelf-search {
    flex: 1;
    margin-left: 40px;
    padding: 10px;
}

.bookshelf-incomplete {
    flex: 7;
    padding: 10px;
}

.bookshelf-complete {
    flex: 7;
    padding: 10px;
}

.input-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #ffffff;
    border: 2px solid #2e2ee2;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

label {
    margin-right: 10px;
}

.container {
    width: 1024px;
    border-radius: 8px;
    margin: 16px;
    background: #F8F9FA;
    padding: 16px;
    flex-grow: 1;
    height: fit-content;
}